<h1>Political Parties</h1>
<p>Click a link below to see information about a party.</p>
<% @parties.each do |p| %>
<%= link_to  p.name, party_path(p) %>
<% end %><br>
<%= link_to  "Back To Main Page", root_path %>