/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @font-face {
  font-family: 'pokemon';
  src:url('/fonts/PokemonClassic.ttf');
}

@import "bootstrap";
@import "animate";

#page-wraper {
    background: url(https://live.staticflickr.com/3174/2690293634_8557a484b1_b.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	opacity: 1.0;
	width: 100%;
	
}


body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}



h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid #fff;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color: #8c363e;
}

/* Sidebar Menu */


/* Section */

.section {
    color: #fff;
    width: 55%;
    position: relative;
    min-height: 10vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading {
    text-align: center;
    padding: 80px 45px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}


/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: rgb(0, 0, 0);
    color: #a43f49;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #a43f49;
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #a43f49;
    color: #fff;
}


/* Left & Right Post */

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.left-image img,
.right-image img {
    border-radius: 5px;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 30px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
}


/* Services */

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}

.service-item h4 {
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
}

.service-item:hover {
    background-color: rgba(250, 250, 250, 1);
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}

.service-item .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.service-item .first-service-icon {
    background-image: url(../images/first-white-icon.png);
}

.service-item:hover .first-service-icon {
    background-image: url(../images/first-main-icon.png);
}

.service-item .second-service-icon {
    background-image: url(../images/second-white-icon.png);
}

.service-item:hover .second-service-icon {
    background-image: url(../images/second-main-icon.png);
}

.service-item .third-service-icon {
    background-image: url(../images/third-white-icon.png);
}

.service-item:hover .third-service-icon {
    background-image: url(../images/third-main-icon.png);
}

.service-item .fourth-service-icon {
    background-image: url(../images/fourth-white-icon.png);
}

.service-item:hover .fourth-service-icon {
    background-image: url(../images/fourth-main-icon.png);
}


/* My Work */

section.my-work .section-heading {
    text-align: center;
    padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}

.isotope-toolbar input[type="radio"] {
    display: none;
}

.isotope-toolbar span {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transform: ease-in-out 0.5s;
    cursor: pointer;
}

.isotope-toolbar input[type="radio"]:checked + span {
    color: #a43f49;
    border-bottom: 2px solid #a43f49;
}

.isotope-box {
    position: relative;
    width: 100%;
}

.isotope-toolbar {
    text-align: center;
    margin: 10px;
}

.isotope-toolbar p {
    border-top: 1px solid #fff;
    padding-top: 15px;
}

.isotope-toolbar a {
    color: #fff;
}

.isotope-item {
    position: relative;
    width: 48%;
    margin: 1%;
    border-bottom: 2px solid rgba(250,250,250,0.1);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.isotope-item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.lazyload {
    background: #f7f7f7;
}

.lazyloading {
    background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
    min-height: 60px;
}

figure.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h4 {
    margin-top: 15px;
  margin-bottom: 5px;
  color: #232323;
}
figure.snip1321 span {
    font-size: 14px;
    font-style: italic;
    display: block;
    color: #7a7a7a;
}
figure.snip1321 i {
  position: relative!important;
  font-size: 18px;
  background-color: #a43f49;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
}
figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}


/* Contact Me */

section.contact-me {
    border-bottom: none;
}

#contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact input:focus {
    outline: none;
    box-shadow: none;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

#contact {
    text-align: center;
}

@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: #fff;
        width: 65%;
       margin: auto;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .menu .social-network ul li {
        margin: 0;
    }

    .menu .image {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 40px;        
    }

    .menu .image img {
        width: 120px;
        height: 120px;
    }

    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    .isotope-item {
        width: 94%;
        margin: 3%;
    }
    .left-image-post img {
        margin-bottom: 30px;
    }
    .right-image-post img {
        margin-top: 30px;
    }
    .isotope-item {
        border-bottom: none;
        text-align: center;
    }
    .isotope-toolbar {
        margin-bottom: 20px;
    }
}


























/* ==========================================================================
   #GRID
   ========================================================================== */
   .row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  }
  
  .row-space {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
  }
  
  .col-2 {
	width: -webkit-calc((100% - 60px) / 2);
	width: -moz-calc((100% - 60px) / 2);
	width: calc((100% - 60px) / 2);
  }
  
  @media (max-width: 767px) {
	.col-2 {
	  width: 100%;
	}
  }
  
  /* ==========================================================================
	 #BOX-SIZING
	 ========================================================================== */
  /**
   * More sensible default box-sizing:
   * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
   */
  html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  * {
	padding: 0;
	margin: 0;
  }
  
  *, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
  }
  
  /* ==========================================================================
	 #RESET
	 ========================================================================== */
  /**
   * A very simple reset that sits on top of Normalize.css.
   */
  body,
  h1, h2, h3, h4, h5, h6,
  blockquote, p, pre,
  dl, dd, ol, ul,
  figure,
  hr,
  fieldset, legend {
	margin: 0;
	padding: 0;
  }
  
  /**
   * Remove trailing margins from nested lists.
   */
  li > ol,
  li > ul {
	margin-bottom: 0;
  }
  
  /**
   * Remove default table spacing.
   */
  table {
	border-collapse: collapse;
	border-spacing: 0;
  }
  
  /**
   * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
   *    on fieldsets.
   */
  fieldset {
	min-width: 0;
	/* [1] */
	border: 0;
  }
  
  button {
	outline: none;
	background: none;
	border: none;
  }

  .p-t-100 {
	padding-top: 100px;
  }
  
  .p-t-20 {
	padding-top: 20px;
  }
  
  .p-b-100 {
	padding-bottom: 100px;
  }

  .btn {
	line-height: 40px;
	display: inline-block;
	padding: 0 25px;
	cursor: pointer;
	font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
	color: #fff;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	font-weight: 700;
  }
  
  .btn--radius {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  }
  
  .btn--green {
	background: #57b846;
  }
  
  .btn--green:hover {
	background: #4dae3c;
  }
  
  /* ==========================================================================
	 #DATE PICKER
	 ========================================================================== */
  td.active {
	background-color: #2c6ed5;
  }
  
  input[type="date" i] {
	padding: 14px;
  }
  
  .table-condensed td, .table-condensed th {
	font-size: 14px;
	font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
	font-weight: 400;
  }
  
  .daterangepicker td {
	width: 40px;
	height: 30px;
  }
  
  .daterangepicker {
	border: none;
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	display: none;
	border: 1px solid #e0e0e0;
	margin-top: 5px;
  }
  
  .daterangepicker::after, .daterangepicker::before {
	display: none;
  }
  
  .daterangepicker thead tr th {
	padding: 10px 0;
  }
  
  .daterangepicker .table-condensed th select {
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	padding: 5px;
	outline: none;
  }
  
  /* ==========================================================================
	 #FORM
	 ========================================================================== */
  input {
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 100%;
	font-size: 14px;
	font-family: inherit;
  }
  
  .input-group {
	position: relative;
	margin-bottom: 30px;
	border-bottom: 2px solid #ccc;
  }
  
  .input-icon {
	position: absolute;
	font-size: 18px;
	color: #ccc;
	right: 8px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
  }
  
  .input--style-1 {
	padding: 9px 0;
	color: #666;
  }
  
  .input--style-1::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #555;
  }
  
  .input--style-1:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #555;
	opacity: 1;
  }
  
  .input--style-1::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #555;
	opacity: 1;
  }
  
  .input--style-1:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #555;
  }
  
  .input--style-1:-ms-input-placeholder {
	/* Microsoft Edge */
	color: #555;
  }
  
  /* ==========================================================================
	 #SELECT2
	 ========================================================================== */
  .select--no-search .select2-search {
	display: none !important;
  }
  
  .rs-select2 .select2-container {
	width: 100% !important;
	outline: none;
  }
  
  .rs-select2 .select2-container .select2-selection--single {
	outline: none;
	border: none;
	height: 34px;
  }
  
  .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
	padding-left: 0;
	color: #555;
  }
  
  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
	height: 32px;
	right: 4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  }
  
  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
	display: none;
  }
  
  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
	font-family: "Material-Design-Iconic-Font";
	content: '\f2f9';
	font-size: 18px;
	color: #ccc;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  
  .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
  }
  
  .select2-container--open .select2-dropdown--below {
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border: 1px solid #e0e0e0;
	margin-top: 5px;
	overflow: hidden;
  }
  
  /* ==========================================================================
	 #TITLE
	 ========================================================================== */
  .title {
	margin-bottom: 37px;
  }
  
  /* ==========================================================================
	 #CARD
	 ========================================================================== */
  .card {
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
  }
  
  .card-1 {
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
  
  .card-1 .card-heading {
	background: url("https://i.ebayimg.com/images/g/jm4AAOSwnWpcPGHH/s-l640.jpg") center center/cover no-repeat;
	padding-top: 210px;
  }
  
  .card-1 .card-body {
	padding: 0 90px;
	padding-top: 55px;
	padding-bottom: 65px;
  }
  
  @media (max-width: 767px) {
	.card-1 .card-body {
	  padding: 0 40px;
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
  }
  




/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

 body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5B5B5B;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #222222;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	color: #5E5E5E;
}

a:hover {
}

#wrapper {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 800px;
	background: url('/images/img01.jpg') repeat;
}

#header {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
	line-height: 120px;
	letter-spacing: -2px;
	font-size: 3.8em;
}

#logo h1 a {
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Splash */

#splash {
	width: 960px;
	height: 300px;
	margin: 0px auto;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #E7EBED;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu {
	float: right;
	width: 500px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	line-height: 100px;
	margin-right: 1px;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0px;
	background: #FFFFFF;
}

/* Content */

#content {
	float: left;
	width: 660px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	margin-bottom: 40px;
	border-bottom: 1px solid #E7EBED;
}

.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	text-decoration: none;
	color: #222222;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 40px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	
	padding: 5px 5px;
	margin-right: 10px;
	background: #222222;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	background: #222222;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 270px;
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 40px;
	border-bottom: 1px solid #E7EBED;
	margin: 0px 0px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	background: url(images/img04.jpg) no-repeat left 50%;
}

#sidebar h2 {
	height: 38px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #222222;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */

#footer-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	color: #D6E2F0;
}

#footer-content a {
	color: #92A9B6;
}

#footer-bg {
	overflow: hidden;
	padding: 30px 0px;
	background: #E8E8E8;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 26px;
	color: #262626;
}


#footer-content #fbox1 {
	float: left;
	width: 300px;
	margin-right: 50px;
}

#footer-content #fbox2 {
	float: left;
	width: 300px;
}

#footer-content #fbox3 {
	float: right;
	width: 300px;
}

#footer-content a {
}

#column1 {
	float: left;
	width: 290px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 280px;
}

#column3 {
	float: right;
	width: 260px;
}

/* Footer */

#footer {
	height: 140px;
	margin: 0 auto;
	padding: 50px 0 15px 0;
	font-family: 'Abel', sans-serif;
	background: #D6D6D6;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #2A2A2A;
}

#footer a {
	color: #2A2A2A;
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E7EBED;
	border-bottom: 1px solid #E7EBED;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	background: url(images/img07.jpg) no-repeat left top;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-size: 30px;
	color: #FFFFFF;
}

#banner {
	margin: 0px auto;
	width: 1000px;
	height: 640px;
	background: url(images/img03.png) no-repeat left bottom;
}



.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 a {
	color: #7F7F7F;
}


.right-text {


	& > *{
		color: whitesmoke !important;
	} 
}

#battle_background{
  height: 1000px;
  width: 1200px;
  margin: auto;
  font-family: 'pokemon';
}

.politician2_info{
  background-image: url("p2");
  background-position-y: -10px;
  margin-top: 50px;
  margin-right: 30px;

 //  animation: fadeInLeft 2s;
}

.hp_politician2 {
 background-image: url("hp_bar_full");
 height: 40px;
 background-repeat: no-repeat;
 background-position: right;
 margin-top: 20px;
}
.hp_image2_half_bar {
 background-image: url("hp_bar_half");
 height: 40px;
 background-repeat: no-repeat;
 background-position: right;
 margin-top: 20px;
}

.hp_image2_dying_bar {
 background-image: url("hp_bar_dying");
 height: 40px;
 background-repeat: no-repeat;
 background-position: right;
 margin-top: 20px;
}

.hp_image2_empty_bar {
 background-image: url("hp_bar_empty");
 height: 40px;
 background-repeat: no-repeat;
 background-position: right;
 margin-top: 20px;
}

.hp_politician1 {
 background-image: url("hp_bar_full");
 background-repeat: no-repeat;
 height: 50px;
 margin-top: 16px;
 margin-left: 100px; 
}

.hp_image1_half_bar {
 background-image: url("hp_bar_half");
 background-repeat: no-repeat;
 height: 50px;
 margin-top: 16px;
 margin-left: 100px; 
}
.hp_image1_dying_bar {
 background-image: url("hp_bar_dying");
 background-repeat: no-repeat;
 height: 50px;
 margin-top: 16px;
 margin-left: 100px; 
}
.hp_image1_empty_bar {
 background-image: url("hp_bar_empty");
 background-repeat: no-repeat;
 height: 50px;
 margin-top: 16px;
 margin-left: 100px; 
}

.politician2_image{
 margin-top: 50px;
 height: 300px;
 width: 300px;
 background-image: url(https://cdn.theatlantic.com/assets/media/img/mt/2019/08/RTS2GK7Z/lead_720_405.jpg?mod=1565038845);
 animation: fadeInRight 2s;
}

.politician2action_image{
 margin-top: 50px;
 height: 300px;
 width: 300px;
 background-image: url(https://cdn.theatlantic.com/assets/media/img/mt/2019/08/RTS2GK7Z/lead_720_405.jpg?mod=1565038845);
 background-repeat: no-repeat;
}
.running_mate_image {
 height: 400px;
 width: 400px;
 margin: auto;
 background-image: url(https://metro.co.uk/wp-content/uploads/2016/07/ad212168316internet_jokers_-e1468147916331.jpg);
 animation: lightSpeedOut 8s;
}

.level {
  font-size: 34px;
}

.level_image2 {
 margin-top: 20px; 
 background-image: url("level");
 background-repeat: no-repeat;
}

.level_politician2 {

  margin-left: -90px;
}

.level_image1 {
 margin-top: 20px; 
 background-image: url("level");
 background-repeat: no-repeat;
}

.level_politician1 {

  margin-left: -90px;
}

.politician1_image{
  margin-top: 50px;
  margin-left: 50px;
  height: 300px;
  width: 300px;
 background-image: url(https://media.salon.com/2017/05/the-president-show.jpg);
 animation: fadeInLeft 2s;
}
.politician1action_image{
 margin-top: 50px;
 margin-left: 50px;
 height: 300px;
 width: 300px;
background-image: url(https://media.salon.com/2017/05/the-president-show.jpg);
}

.politician1_info{
 background-image: url("p1");

 margin-top: 100px;
 margin-left: 50px;
//  animation: fadeInLeft 2s;
}

.command_bar {
 margin-top: 20px;
 margin-left: 1px;
 background-image: url('backgroundmenu.png');
 height: 300px;
 background-repeat: no-repeat;

}

.name {
 font-size: 38px;
 text-align: center;
}

.level {
 font-weight: 900;
 text-align: center;
}
.menu {
 background-image: url("menu_extension");
 background-repeat: no-repeat;
 margin-top: 6px;
}   

.options {
 font-size: 40px;
 padding:0;
 text-align: center;
}

.option1 {
 margin-top: 50px;

}

.option2 {
 margin-top: 50px;
}


.option3 {
 margin-top: 30px;
}

.option4 {
 margin-top: 30px;
}

.actions {
 text-align: center;
 font-size: 34px;
}

.action1 {
 margin-top: 30px;
}

.action2 {
 margin-top: -50px;
}
.action3 {
 margin-top: -60px;
}
.action4 {
 margin-top: -60px;
}

.test {
 margin-top: 45px;
 margin-left: 50px;
 font-size: 42px;
 text-align: left; 
}
.typewriter {
 overflow: hidden; /* Ensures the content is not revealed until the animation */
 letter-spacing: .30em; /* Adjust as needed */
 animation: 
    typing 3.0s steps(50, end),
}


@keyframes typing {
 from { width: 0% }
 to { width: 100% }
}

.party-pic{
  height: 300px;
  width: 300px;
  margin-left: 40%;
  
}
.policy_pic{
  height: 400px;
  width: 400px;
  margin-left: 38%;
  margin-top:-425px;
}

.show_page_text{
  color: whitesmoke;
}
#party-name{
  color: whitesmoke;
  text-align: center;
  margin-top:10px;
}

.navigation_links{
  background-image: url(/images/img01.jpg);
  width: 400px;
  height: 225px;
  margin-top: -415px;
  margin-left:955px;
  text-align: center;
}

.policy_navigation_links{
  background-image: url(/images/img01.jpg);
  width: 300px;
  height: 225px;
  margin-top: -445px;
  margin-left:1055px;
  text-align: center;
}

.page_details{
  background-image: url(/images/img01.jpg);
  width: 475px;
  height: 425px;
  margin-top: -300px;
  margin-left:55px;
  text-align: center;
}
.policy_page_details{
  background-image: url(/images/img01.jpg);
  width: 450px;
  height: 425px;
  margin-top: 50px;
  margin-left:55px;
  text-align: center;
  color: whitesmoke;
}

.link-name{
  color: whitesmoke;
}

#policy-header{
  color: whitesmoke;
  text-align: center;;
}

#scandal_header{
  text-align: center;
  color: whitesmoke;
  font-size: 42px;
}

#scandal_nav_links{
  background-image: url(/images/img01.jpg);
  width: 200px;
  height: 100px;
  text-align: center;
 margin-left: 44%;
}

#scandal_image{
  height: 400px;
  width: 400px;
  margin-left: 37%;
  margin-top: -225px;
}

#implicated{
  background-image: url(/images/img01.jpg);
  width:300px;
  height: 150px;
  margin-left: 1050px;
  margin-top:30px;
  text-align: center;
  color: whitesmoke;
}
#scandal_details{
  background-image: url(/images/img01.jpg);
  width:300px;
  height: 200px;
  margin-left: 100px;
  margin-top: -150px;
  text-align: center;
  color: whitesmoke;
}